---
layout: compress
---
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}'s blog</title>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}{{ site.assets_dir }}/favicon.png">
    <link rel="alternate" href="{{ site.url }}" hreflang="x-default">
    <link type="application/atom+xml" rel="alternate" href="{{ site.url }}{{ site.baseurl }}/feed.xml" title="{{ site.name }}'s blog">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}{{ site.baseurl }}/sitemap.xml">
  <style type="text/css">
  {% capture scss %}{% include style.scss %}{% endcapture %}{{ scss | scssify }}
  </style>
    {% seo %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-avatar">
          <img src="{{ site.baseurl }}{{ site.assets_dir }}/avatar.png" alt="{{ site.name }}'s photo">
        </div>
        <div class="header-content">
          <div class="header-title">
            <h1><a href="{{ site.baseurl }}/">{{ site.name }}<span>&#39;s blog</span></a></h1>
          </div>
          <div class="header-nav">
            <div class="header-nav-local">
              {% for nav in site.nav.local %}
              <a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.name }}</a>
              {% endfor %}
            </div>
            <div class="header-nav-external">
              {% for nav in site.nav.external %}
              <a href="{{ nav.href }}" target="_blank">{{ nav.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {{ content }}
    </div>
    <script id="dsq-count-scr" src="//{{ site.disqus.id }}.disqus.com/count.js" async></script>
  </body>
</html>
