---
layout: base
---
<div class="post">
  <div class="post-header">
    <div class="post-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="post-aside">
      <div class="post-date">
        <span>{{ page.date | date_to_string }}</span>
        {% if page.comments %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}"></a>
        {% endif %}
      </div>
      {% if page.tags %}
      <div class="post-tags">
        {% for tag in page.tags %}
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="post-content">
  {{ content }}
  </div>
</div>
{% if page.comments %}
<div class="post-comments" id="disqus_thread"></div>
  <script>
    var disqus_config = function(){
      this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
      this.page.identifier = '{{ page.id }}';
      this.page.title = '{{ page.title }}';
    };
    (function(){
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.id }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
{% endif %}
